<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:if="${report.isSecret}" class="badge bg-warning text-dark">Secret</span>
    <title th:text="${report.title}"></title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${report.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(report.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${report.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div th:text="${#temporals.format(report.modifiedDate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2" th:if="${report.user != null}" th:text="${report.user.nickname}"></div>
                    <div th:text="${#temporals.format(report.createDate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/report/modify/${report.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${report.user != null and #authentication.getPrincipal().getUsername() == report.user.userId}"
                   th:text="수정"></a>
                <!-- Delete button -->
                <a onclick="return confirm('정말로 삭제하시겠습니까?')" th:href="@{|/report/delete/${report.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${report.user != null and #authentication.getPrincipal().getUsername() == report.user.userId}"
                   th:text="삭제"></a>
                <!-- 관리자 전용 삭제 버튼 -->
                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{|/report/delete/${report.id}|}"
                   class="delete btn btn-sm btn-danger" th:if="${loginUser.isCheckedAdmin()}"
                   th:text="'관리자 삭제'"></a>
            </div>
        </div>
    </div>
    <a th:href="@{/report/list}" class="btn btn-primary">목록보기</a>
<!--    &lt;!&ndash; 답변의 갯수 표시 &ndash;&gt;-->
<!--    <h5 class="border-bottom my-3 py-2"-->
<!--        th:text="|${#lists.size(report.replyList)}개의 답변이 있습니다.|"></h5>-->

<!--    &lt;!&ndash; 답변 반복 시작 &ndash;&gt;-->
<!--    <div class="card my-3" th:each="replyReply : ${report.replyList}">-->
<!--        <a th:id="|reportReply_${reportReply.id}|"></a>-->
<!--        <div class="card-body">-->
<!--            <div class="card-text" th:utext="${@commonUtil.markdown(reportReply.content)}"></div>-->
<!--            <div class="d-flex justify-content-end">-->
<!--                <div th:if="${reportReply.modifiedDate != null}"-->
<!--                     class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--                    <div class="mb-2">-->
<!--                        <span th:text="${'수정됨'}"></span>-->
<!--                        <div th:text="${#temporals.format(reportReply.modifiedDate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="badge bg-light text-dark p-2 text-start">-->
<!--                    <div class="mb-2">-->
<!--                        <span th:if="${reportReply.user != null}" th:text="${reportReply.user.nickname}"></span>-->
<!--                        <div th:text="${#temporals.format(reportReply.createDate, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="my-3">-->
<!--                <a th:id="@{|reportReply_recommend_${reportReply.id}|}"-->
<!--                   class="reportReply_recommend recommend btn btn-sm btn-outline-secondary">-->
<!--                    추천-->
<!--                    <span th:id="@{|recommend_reportReply_count_${reportReply.id}|}"-->
<!--                          class="recommend_reportReply_count badge rounded-pill bg-success"-->
<!--                          th:text="${#lists.size(reportReply.likeCount)}"></span>-->
<!--                </a>-->
<!--                <a th:href="@{|/reportReply/modify/${reportReply.id}|}" class="btn btn-sm btn-outline-secondary"-->
<!--                   sec:userize="isAuthenticated()"-->
<!--                   th:if="${reportReply.user != null and #authentication.getPrincipal().getUsername() == reportReply.user.userId}"-->
<!--                   th:text="수정"></a>-->
<!--                <a onclick="return confirm('정말 삭제 하시겠습니까?');" th:href="@{|/reportReply/delete/${reportReply.id}|}"-->
<!--                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"-->
<!--                   th:if="${reportReply.user != null and #authentication.getPrincipal().getUsername() == reportReply.user.userId}"-->
<!--                   th:text="삭제"></a>-->
<!--                &lt;!&ndash; 관리자 전용 삭제 버튼 &ndash;&gt;-->
<!--                <a onclick="return confirm('정말 삭제하시겠습니까?')" th:href="@{|/reportReply/delete/${reportReply.id}|}"-->
<!--                   class="delete btn btn-sm btn-danger" th:if="${loginUser.isCheckedAdmin()}"-->
<!--                   th:text="'관리자 삭제'"></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; 답변 반복 끝  &ndash;&gt;-->
<!--    &lt;!&ndash; 답변 작성 &ndash;&gt;-->
<!--    <form th:action="@{|/reportReply/create/${report.id}|}" th:object="${reportReplyForm}" method="post"-->
<!--          class="my-3">-->
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--        <textarea-->
<!--                required-->
<!--                maxlength="2000"-->
<!--                placeholder="내용을 2,000자 이하로 입력하세요"-->
<!--                sec:authorize="isAuthenticated()"-->
<!--                th:field="*{replyContent}"-->
<!--                class="form-control"-->
<!--                rows="10"-->
<!--        ></textarea>-->
<!--        <input type="submit" value="답변등록" class="btn btn-primary my-2">-->
<!--    </form>-->

    <!--todo: 댓글도 추천과 추천취소가 가능해져야함-->
    <script type="text/javascript" th:inline="javascript">
        var report_id = [[${report.id}]];
        var sessionKey = "LIKED_COMMUNITY_" + report_id;
        var recommendButton = $('#report_recommend');
        var countElement = $("#recommend_report_count");

        if (sessionStorage.getItem(sessionKey)) recommendButton.addClass('active');

        recommendButton.on("click", function () {
            console.log(11)
            var isAlreadyLiked = recommendButton.hasClass("active");

            $.ajax({
                type: "GET",
                url: isAlreadyLiked ? `/report/unlike/${report_id}` : `/report/like/${report_id}`,
                success: function (res) {
                    countElement.text(res);
                    sessionStorage[isAlreadyLiked ? "removeItem" : "setItem"](sessionKey, true);
                    recommendButton.toggleClass("active");
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        });

        var sessionReplyKey = "LIKED_REPORT_REPLY_" + report_id;
        var recommendReplyButton = $('.reportReply_recommend');
        var countReplyElement = $('.recommend_reportReply_count');

        if (sessionStorage.getItem(sessionReplyKey)) recommendReplyButton.addClass('active');


        recommendReplyButton.on("click", function () {
            var _this = $(this); // 현재 선택한 답변의 추천 버튼
            var thisRecommend_reportReply_count =  $(this).find(".recommend_reportReply_count")

            var isAlreadyLiked = _this.hasClass("active");

            $.ajax({
                type: "GET",
                url: isAlreadyLiked ? `/report/unlike/${report_id}` : `/report/like/${report_id}`,
                success: function (res) {
                    thisRecommend_reportReply_count.text(res);
                    sessionStorage[isAlreadyLiked ? "removeItem" : "setItem"](sessionKey, true);
                    _this.toggleClass("active");
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        });

    </script>

</div>
</body>
</html>
